

#overview {
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.6rem 0;
    width: 100%;
}

.content-title {
    line-height: 25px;
    font-size: 18px;
    width: 9rem;
}

.overview-content {
    padding-top: 0.13rem;
    line-height: 25px;
    font-size: 18px;
    width: calc(100% - 10rem);
}

@media (max-width: 992px) {    

    .content {
        flex-direction: column;
        gap: 0.4rem;
    }

    .content-title {
        width: 100%;
    }

    .overview-content {
        width: 100%;
    }
    
}


