
<div *ngIf="!isLoading">
    <navbar></navbar>

    <!-- tv-shows -->
    <section id="tv-shows" class="tv-shows" *ngIf="current_tvshows">
        <ng-template [ngTemplateOutlet]="tv_shows" [ngTemplateOutletContext]="current_tvshows"></ng-template>
    </section>
    
    <footerr></footerr>
</div>

<!-- loading -->
<section id="loading" class="loading" *ngIf="isLoading">
    <img src="/assets/img/bg-404.png">
</section>


<!-- tv-shows -->
<ng-template #tv_shows>
    <div class="container">
        <div class="tv-show-menu">
            <ul class="tv-show-kind">
                <li class="tv-show-kind-item">
                    <a 
                    [class.btnify]="current_title=='airingtoday'" 
                    [class.btn-primary]="current_title=='airingtoday'" 
                    class="font-white" 
                    [routerLink]="'/tv-shows/airingtoday/1'">
                        <i class="fa-solid fa-glasses font-yellow"></i> 
                        Bugün Yayında
                    </a>
                </li>
                <li class="tv-show-kind-item">
                    <a 
                    [class.btnify]="current_title=='airing'" 
                    [class.btn-primary]="current_title=='airing'" 
                    class="font-white" 
                    [routerLink]="'/tv-shows/airing/1'">
                        <i class="fa-solid fa-fire font-yellow"></i>
                        Yayında
                    </a>
                </li>
                <li class="tv-show-kind-item">
                    <a 
                    [class.btnify]="current_title=='toprated'" 
                    [class.btn-primary]="current_title=='toprated'" 
                    class="font-white" 
                    [routerLink]="'/tv-shows/toprated/1'">
                    <i class="fa-solid fa-chess-king font-yellow"></i>
                        En Yüksek Oy Alanlar
                    </a>
                </li>
                <li class="tv-show-kind-item">
                    <a 
                    [class.btnify]="current_title=='popular'" 
                    [class.btn-primary]="current_title=='popular'" 
                    class="font-white" 
                    [routerLink]="'/tv-shows/popular/1'">
                        <i class="fa-solid fa-terminal font-yellow"></i>
                        Popüler
                    </a>
                </li>
                <li class="tv-show-kind-item">
                    <a [class.btnify]="current_title=='discover'" [class.btn-primary]="current_title=='discover'"
                        class="font-white" [routerLink]="'/tv-shows/discover'">
                        <i class="fa-brands fa-cc-discover font-yellow"></i>
                        Keşfet
                    </a>
                </li>
            </ul>
        </div>
        <div class="tv-shows-page">
            <div class="filter-section">
                <div class="filter-part">
                    <h2 class="up-title font-light">
                        Filtrele
                    </h2>
                    <form #form="ngForm" (ngSubmit)="GetQuery(form)">
                        <div class="filter">
                            <label for="category" class="filter-label font-light">Kategoriye Göre:</label>
                            <div class="select-box">
                                <select [(ngModel)]="model.category" #category="ngModel" name="category" id="category" class="form-select">
                                    <option value="0">Kategori</option>
                                    <option *ngFor="let genre of genres" value="{{ genre.id }}">
                                        {{ genre.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter">
                            <label for="country" class="filter-label font-light">Ülkeye Göre:</label>
                            <div class="select-box">
                                <select [(ngModel)]="model.country" #country="ngModel" name="country" id="country" class="form-select">
                                    <option value="0">Ülke</option>
                                    <option *ngFor="let country of countries" value="{{ country.iso_3166_1 }}">
                                        {{ country.native_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter">
                            <label for="year" class="filter-label font-light">Yılına Göre:</label>
                            <div class="select-box">
                                <select [(ngModel)]="model.year" #year="ngModel" name="year" id="year" class="form-select">
                                    <option value="0">Yıl</option>
                                    <option *ngFor="let year of getYears()" value="{{ year }}">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter">
                            <label for="min-vote-average" class="filter-label text-label font-light">Minimum Puan:</label>
                            <input [(ngModel)]="model.min_vote_average" #min_vote_average="ngModel" id="min-vote-average"
                                name="min_vote_average" type="number" min="0" max="10" class="input-text font-light">
                        </div>
                        <div class="filter">
                            <label for="max-vote-average" class="filter-label text-label font-light">Maximum Puan:</label>
                            <input [(ngModel)]="model.max_vote_average" #max_vote_average="ngModel" id="max-vote-average"
                                name="max_vote_average" type="number" min="0" max="10" class="input-text font-light">
                        </div>
                        <div class="filter">
                            <label for="sortby" class="filter-label font-light">Sıralama Ölçütü:</label>
                            <div class="select-box">
                                <select [(ngModel)]="model.sortby" #sortby="ngModel" name="sortby" id="sortby" class="form-select">
                                    <option value="title.asc"> Adına göre</option>
                                    <option value="original_title.asc">Orijinal adına göre</option>
                                    <option value="popularity.desc">Populerliğine göre</option>
                                    <option value="revenue.desc">Hasılata göre</option>
                                    <option value="primary_release_date.desc">Yılına göre</option>
                                    <option value="vote_average.desc">Puanına göre</option>
                                    <option value="vote_count.desc">Oy sayısına göre</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrele</button>
                    </form>
                </div>
                <div class="filter-part">
                    <h2 class="up-title font-light">
                        Türüne Göre En iyi Filmler
                    </h2>
                    <div class="kind-buttons-group">
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(10765)">Bilim Kurgu</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(10751)">Aile</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(10759)">Aksiyon</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(18)">Dram</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(37)">Talk</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(9648)">Gizem</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(35)">Komedi</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(10764)">Gerçeklik</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(10766)">Pembe Dizi</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCategory(10768)">Savaş</a>
                    </div>
                    <h2 class="up-title font-light">
                        Türüne Göre En iyi Filmler
                    </h2>
                    <div class="kind-buttons-group">
                        <a class="kind-button-sm font-light" (click)="getTvShowsByYear(year)" *ngFor="let year of getYears(12)">{{ year }}</a>
                    </div>
                    <h2 class="up-title font-light">
                        Ülkeye Göre En iyi Filmler
                    </h2>
                    <div class="kind-buttons-group">
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('US')">Amerika</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('TR')">Türkiye</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('FR')">Fransa</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('GB')">İngiltere</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('IN')">Hindistan</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('IR')">İran</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('JP')">Japonya</a>
                        <a class="kind-button-md font-light" (click)="getTvShowsByCountry('DE')">Almanya</a>
                    </div>
                    <h2 class="up-title font-light">
                        Platformlara Göre En iyi Filmler
                    </h2>
                    <div class="kind-buttons-group">
                        <a class="kind-button-md font-light" (click)="getMarvelMovies()">Marvel</a>
                    </div>
                </div>
            </div>
            <div class="tv-shows">
                <div *ngFor="let tv_show of current_tvshows.results" class="tv-show">
                    <a [routerLink]="'/tv-shows/' + tv_show.id">
                        <div class="tv-show-poster-box">
                            <img src="{{ image_url }}{{ tv_show.poster_path }}" alt="{{ tv_show.original_name }}" class="tv-show-poster">
                        </div>
                        <p class="tv-show-title font-white ellipsis2">{{ tv_show.original_name }}</p>
                        <div class="tv-show-informations font-yellow">
                            <i class="fa-solid fa-star"></i> 
                            <p class="vote_average font-yellow">
                                {{ getFloor(tv_show.vote_average) }}/10
                            </p>
                            <p class="tv-show-votes font-white">
                                {{ tv_show.vote_count }} vote 
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="pages">
            <div class="pages-box">
                <a (click)="PreviousPage()" class="page font-white"
                    [class.disabled]="current_page-1<=0">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <div *ngFor="let page of getPagesArray()">
                    <a [class.page-btn]="page == current_tvshows.page" (click)="GetPage(page)"
                        class="page font-white">
                        {{ page }}
                    </a>
                </div>
                <a (click)="NextPage()" class="page font-white"
                    [class.disabled]="current_page+1>=current_tvshows.total_pages || current_page+1>=500">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</ng-template>