
#tv-shows {
    background-color: var(--dark);
    margin: 0;
    padding-top: 15vh;
    width: 100%;
}

.tv-shows-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.tv-shows {
    padding: 2rem 0 2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 60vh;
    width: 72%;
    gap: 1.4rem;
}

.filter-section {
    width: 30%;
    margin-bottom: 40px;
}

.up-title {
    padding: 3rem 0 0.5rem;
    margin-bottom: 2rem;
    font-size: 25px;
    font-weight: 300;
    border-bottom: 0.5px solid var(--pink);
    width: 97%;
}

.filter {
    padding: 0.5rem 1rem 0.5rem 0;
}

.filter-label {
    font-size: 17px;
    font-weight: 300;
}

.select-box {
    display: flex;
    border: 0.5px solid var(--yellow);
    border-radius: 6px;
    padding: 3px;
    margin: 0.5rem 0;
    position: relative;
    display: flex;
    overflow: hidden;
}

.select-box::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    color: var(--pink);
 }

.form-select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    cursor:pointer;
    width: 90%;
    margin-left: 8%;
    margin-right: 2%;
    height: 35px;
    font-size: 15px;
    appearance: none;
    background-color: var(--dark);
    color: var(--light);
}

.form-select::-ms-expand {
    display: none;
}

.kind-buttons-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.kind-button-md {
    display: inline-block;
    width: 47%;
    height: 40px;
    color: var(--light);
    border: 1px solid var(--dark-pink);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
}

.kind-button-sm {
    display: inline-block;
    width: 30.5%;
    height: 40px;
    color: var(--light);
    border: 1px solid var(--dark-pink);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
}

.kind-button-md:hover,
.kind-button-sm:hover {
    cursor: pointer;
    background-color: var(--light);
    color: var(--dark-pink);
}

.kind-button-md:active,
.kind-button-sm:active {
    color: var(--yellow);
}

.input-text {
    height: 40px;
    width: calc(100%);
    background-color: transparent;
    border: 1px solid var(--yellow);
    border-radius: 6px;
    font-size: 15px;
    min-width: 50px;
    text-align: center;
    margin-top: 0.5rem;
}

.text-label {
    display: inline-block;
    width: 120px;
}

.tv-show {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; 
    position: relative;
    height: 38rem;
}

.tv-show-poster-box {
    overflow: hidden; 
    position: relative;
    width: 19rem;
    height: 28.5rem;
}

.tv-show:hover {
    box-shadow: 2px -1px 25px -2px rgba(0,0,0,0.86);
    transition: box-shadow 0.4s ease-in-out 0s;
}

.tv-show-poster {
    width: 19rem;
    height: 28.5rem;
    align-self: center;
    transition: transform 0.4s ease-in-out;
    transform-origin: center; 
}

.tv-show-poster:hover {
    transform: scale(1.2); 
}

.tv-show-title{
    font-size: 1.5rem;
    padding: 1rem 1rem 0.5rem;
}

.ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: 23ch;
}

.tv-show-informations {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.vote_average {
    padding-left: 0.5rem;
}

.tv-show-votes {
    padding-left: 1.2rem;
}

.tv-show-menu {
    border-bottom: 0.2rem solid var(--yellow);
    padding-bottom: 0.6rem;
}

.tv-show-kind {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.tv-show-kind-item a {
    display: inline-block;
    font-size: 14px;
    height: 36px;
    padding: 8px 10px 3px 10px;
}

.btnify {
    border-radius: 1rem;
}

.tv-show-kind-item a:hover {
    cursor: pointer;
    color: var(--pink);
}

.pages {
    margin: 1rem 0 4rem 0;
    height: 4.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--yellow);
    border-top: 1px solid var(--yellow);
    padding: 1.5rem;
}

.pages p,
.pages a {
    font-size: 1.5rem;
}

.pages a {
    cursor: pointer;

}

.pages-box {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pages-box div {
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
}

.page {
    padding: 0.4rem;
}

.pages-empty-space {
    padding: 1rem;
}

.page-btn {
    background-color: var(--pink);
    border-radius: 0.3rem;
}


@media (max-width: 420px) {
       
    .input-text {
        width: calc(100%);
    }
}


@media (max-width: 566px) {
       
    #tv-shows {
        padding-top: 5vh;
    } 

    .tv-show-kind {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 2rem;
    }

}


@media (max-width: 992px) {    

    #tv-shows {
        padding-top: 23vh;
    }

    .tv-show {
        height: 60rem;
    }

    .tv-show-poster-box {
        width: 35rem;
        height: 52.5rem;
    }

    .tv-show-poster {
        width: 35rem;
        height: 52.5rem;
        align-self: center;
    }

    .tv-show-title {
        font-size: 2.7rem;
        padding: 1rem 1rem 0.5rem;
    }

    .filter-section {
        width: 30%;
        display: flex;
        flex-direction: row;
    }

    .tv-shows-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tv-shows {
        padding: 2rem 0 2rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        min-height: 60vh;
        width: 100%;
        gap: 1.4rem;
    }
    
    .filter-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 18px;
    }

    .filter-part {
        width: 50%;
    }

    .kind-buttons-group {
        width: 100%;
        gap: 0.5rem;
    }

    .kind-button-md {
        width: 31.5%;
        font-size: 13px
    }
    
    .kind-button-sm {
        width: 23%;
        font-size: 13px
    }

}