
<div *ngIf=" !isLoading">
    <navbar></navbar>

    <!-- movie-details -->
    <section class="movie-details" id="movie-details" *ngIf="movieDetails">
        <ng-template [ngTemplateOutlet]="movie_details" [ngTemplateOutletContext]="movieDetails"></ng-template>
    </section>
    
    
    <footerr></footerr>
</div>

<!-- loading -->
<section id="loading" class="loading" *ngIf="isLoading">
    <img src="/assets/img/bg-404.png">
</section>



<!-- movie-details -->
<ng-template #movie_details>
    <div class="container">
        <div class="all-details">
            <div class="poster-image-box">
                <img class="poster-image" src="{{ image_url }}{{ movieDetails.poster_path }}" alt="{{ movieDetails.tagline }}">
                <button type="button" class="btn btn-primary">
                    Favorilere Ekle
                </button>
            </div>
            <div class="details">
                <h1 class="movie-title font-white">
                    {{ movieDetails.title }}
                </h1>
                <div class="icon-and-text">
                    <a href="">
                        <div class="add-favorite-box">
                            <i class="fa-solid fa-heart font-pink"></i>
                        </div>
                    </a>
                    <a href="" class="add-favorite-text font-pink">
                        Favorilere Ekle
                    </a>
                </div>
                <div class="icon-and-text">
                    <i class="fa-solid fa-star font-yellow icon-bg"></i>
                    <p class="add-favorite-text font-white">
                        {{ getFloor(movieDetails.vote_average) }}/10
                    </p>
                </div>
                <div class="movie-details-tab">
                    <a [class.active-tab]="current_tab == 'overview'" (click)="ChangeTab('overview')" class="movie-details-tab-link font-white">
                        GENEL
                    </a>
                    <a [class.active-tab]="current_tab == 'reviews'" (click)="ChangeTab('reviews')" class="movie-details-tab-link font-white">
                        YORUMLAR
                    </a>
                    <a [class.active-tab]="current_tab == 'cast-crew'" (click)="ChangeTab('cast-crew')" class="movie-details-tab-link font-white">
                        OYUNCULAR
                    </a>
                    <a [class.active-tab]="current_tab == 'media'" (click)="ChangeTab('media')" class="movie-details-tab-link font-white">
                        MEDYA
                    </a>
                    <a [class.active-tab]="current_tab == 'related-movies'" (click)="ChangeTab('related-movies')" class="movie-details-tab-link font-white">
                        BENZERLERİ
                    </a>
                </div>
                
                <!-- overview-section -->
                <overview [details]="movieDetails" *ngIf="current_tab == 'overview'" ></overview>
                <!-- reviews section -->
                <reviews [movieId]="movieDetails.id" *ngIf="current_tab == 'reviews'"></reviews>
                <!-- cast-crew section -->
                <cast-crew [movieId]="movieDetails.id" *ngIf="current_tab == 'cast-crew'"></cast-crew>
                <!-- media section -->
                <media [movieId]="movieDetails.id" *ngIf="current_tab == 'media'"></media>
                <!-- related movies section -->
                <related-movies [movieId]="movieDetails.id" *ngIf="current_tab == 'related-movies'"></related-movies>

            </div>

        </div>
    </div>
</ng-template>



