
#movies {
    background-color: var(--dark);
    margin: 0;
    padding-top: 255px;
    width: 100%;
}

.movies-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.movies {
    padding: 2rem 0 2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 60vh;
    width: 76%;
    gap: 0.5rem;
}

.filter-section {
    width: 24%;
    margin-bottom: 40px;
}

.up-title {
    padding: 1.5rem 0 0.5rem;
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: 300;
    border-bottom: 0.5px solid var(--pink);
    width: 97%;
}

.filter-label {
    font-size: 17px;
    font-weight: 300;
}

.select-box {
    display: flex;
    border: 0.5px solid var(--yellow);
    border-radius: 6px;
    padding: 3px;
    margin: 0.5rem 0;
    position: relative;
    display: flex;
    overflow: hidden;
}

.select-box::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.7rem;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    color: var(--pink);
    font-size: 20px;
 }

.form-select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    cursor:pointer;
    width: 90%;
    margin-left: 8%;
    margin-right: 2%;
    height: 35px;
    font-size: 15px;
    appearance: none;
    background-color: var(--dark);
    color: var(--light);
}

.form-select::-ms-expand {
    display: none;
}

.kind-buttons-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.kind-button-md {
    display: inline-block;
    width: 47%;
    height: 40px;
    color: var(--light);
    border: 1px solid var(--dark-pink);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
}

.kind-button-sm {
    display: inline-block;
    width: 30.5%;
    height: 40px;
    color: var(--light);
    border: 1px solid var(--dark-pink);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
}

.kind-button-md:hover,
.kind-button-sm:hover {
    cursor: pointer;
    background-color: var(--light);
    color: var(--dark-pink);
}

.kind-button-md:active,
.kind-button-sm:active {
    color: var(--yellow);
}

.input-text {
    height: 40px;
    width: calc(100%);
    background-color: transparent;
    border: 1px solid var(--yellow);
    border-radius: 6px;
    font-size: 15px;
    min-width: 50px;
    text-align: center;
    margin-top: 0.5rem;
}

.text-label {
    display: inline-block;
    width: 120px;
}

.movie {
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; 
    position: relative;
    height: 24rem;
}

.movie-poster-box {
    overflow: hidden; 
    position: relative;
    width: 12rem;
    height: calc(12rem * 1.5);
}

.movie:hover {
    box-shadow: 2px -1px 25px -2px rgba(0,0,0,0.86);
    transition: box-shadow 0.4s ease-in-out 0s;
}

.movie-poster {
    width: 12rem;
    height: calc(12rem * 1.5);
    align-self: center;
    transition: transform 0.4s ease-in-out;
    transform-origin: center; 
}

.movie-poster:hover {
    transform: scale(1.2); 
}

.movie-title{
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem;
}

.ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: 22ch;
}

.movie-informations {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.movie-informations i {
    font-size: 1rem;
}

.vote_average {
    font-size: 1rem;
    padding-left: 0.5rem;
}

.movie-votes {
    font-size: 1rem;
    padding-left: 1rem;
}

.movie-menu {
    border-bottom: 0.2rem solid var(--yellow);
    padding-bottom: 0.6rem;
}

.movie-kind {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.movie-kind-item a {
    display: inline-block;
    font-size: 14px;
    height: 36px;
    padding: 8px 10px 3px 10px;
}

.btnify {
    border-radius: 1rem;
    border: 1px solid var(--dark-pink);
}

.movie-kind-item a:hover {
    cursor: pointer;
    color: var(--pink);
}

.pages {
    margin: 1rem 0 4rem 0;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--yellow);
    border-top: 1px solid var(--yellow);
    padding: 12px;
}

.pages p,
.pages a {
    font-size: 17px;
}

.pages a {
    cursor: pointer;

}

.pages-box {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pages-box div {
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
}

.page {
    padding: 0.4rem;
}

.pages-empty-space {
    padding: 1rem;
}

.page-btn {
    background-color: var(--pink);
    border-radius: 0.3rem;
}


@media (max-width: 420px) {
       
    .input-text {
        width: calc(100%);
    }
}


@media (max-width: 566px) {
       
    #movies {
        padding-top: 0;
    } 

    .movie-kind {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 2rem;
    }

}


@media (max-width: 992px) {    

    #movies {
        padding-top: 255px;
    }

    .movie {
        height: 47rem;
    }

    .movie-poster-box {
        width: 25rem;
        height: calc((25rem * 1.5));
    }

    .movie-poster {
        width: 25rem;
        height: calc((25rem * 1.5));
        align-self: center;
    }

    .movie-title{
        font-size: 2rem;
        padding: 1rem 1rem 0.5rem;
    }

    .movie-informations i {
        font-size: 1.5rem;
    }
    
    .vote_average {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }
    
    .movie-votes {
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .filter-section {
        width: 30%;
        display: flex;
        flex-direction: row;
    }

    .movies-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movies {
        padding: 2rem 0 2rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        min-height: 60vh;
        width: 100%;
        gap: 1.4rem;
    }
    
    .filter-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 18px;
    }

    .filter-part {
        width: 50%;
    }

    .kind-buttons-group {
        width: 100%;
        gap: 0.5rem;
    }

    .kind-button-md {
        width: 31.5%;
        font-size: 13px
    }
    
    .kind-button-sm {
        width: 23%;
        font-size: 13px
    }

    

}