
#overview {
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.6rem 0;
    width: 100%;
}

.content-title {
    line-height: 30px;
    font-size: 18px;
    width: 16rem;
}

.overview-content {
    padding-top: 0.13rem;
    line-height: 30px;
    font-size: 18px;
    width: calc(100%);
}

.overview-content-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.overview-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 1rem);
    min-width: 8rem;
    text-align: center;
    border-radius: 1rem;
}

.content-image {
    width: 9rem;
    justify-self: center;
    padding: 0 1rem;
}

.content-country-image {
    width: 9rem;
    height: 5rem;
    justify-self: center;
    padding: 0 1rem;
}

.overview-content-box-text {
    height: 3.5rem;
    align-self: top;
    line-height: 16px;
    padding: 0.5rem 0;
    font-size: 12px;
}

.company-logo-box {
    align-self: bottom;
    background-color: var(--white);
    width: 100%;
    min-width: 5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 0.7px solid var(--pink);
}

@media (max-width: 992px) {    

    .content {
        flex-direction: column;
        gap: 0.3rem;
    }

    .content-title {
        width: 100%;
    }

    .overview-content {
        width: 100%;
    }
    
}


