#seasons {
    width: 100%;
    height: 100%;
    padding-bottom: 7rem;
}

.season-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0;
}

.poster-image-box {
    width: 15rem;
    height: calc(15rem * 1.5);
    background-color: dimgray;
}

.poster-image {
    width: 15rem;
    height: calc(15rem * 1.5);
}

.season-informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(15rem * 1.5);
    gap: 0.5rem;
    padding-left: 1.5rem;
}

.seaason-name {
    font-size: 30px;
    padding-bottom: 1.5rem;
}

.season-info {
    font-size: 15px;
    line-height: 1.7rem;
}

.season-info i {
    padding-right: 0.5rem;
}



@media (max-width: 800px) {    

    .season-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 2rem 0;
    }

    .seaason-name {
        padding-top: 1rem;
    }

    .season-informations {
        align-items: flex-start;
        justify-self: flex-start;
    }

}
