#people {
    background-color: var(--dark);
    width: 100%;
    margin: 0;
    padding-top: 255px;
    padding-bottom: 50px;
}

.up-title {
    padding: 1.2rem 0;
    font-size: 2.4rem;
}

.celebrities {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-top: 1px solid var(--yellow);
}

.person {
    width: 47.5%;
    min-width: 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 1.1rem 0;
    box-shadow: 1px 9px 31px 0px rgba(84, 84, 70, 1);
    padding-bottom: 0.5rem;
}


.person-image-box {
    overflow: hidden;
    width: 20rem;
    height: fit-content;
    min-width: 250px;
    min-height: 375px;
}

.person-image {
    width: 20rem;
    min-width: 250px;
    min-height: 375px;
}

.person-image:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.person-as-known {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.as-known-text {
    font-size: 18px;
    padding-bottom: 20px;
}

.show-image-box {
    overflow: hidden;
    width: 12rem;
    min-width: 150px;
}

.show-image {
    width: 12rem;
    min-width: 150px;
}

.show-image:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.person-information h1 {
    font-size: 25px;
    padding: 0.5rem;
}

.person-information p {
    font-size: 16px;
    padding: 0.3rem 0.5rem;
}

.show h4 {
    font-size: 13px;
    padding: 0.5rem 0;
}

.pages {
    margin: 1rem 0 4rem 0;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    padding: 12px;
}

.pages p,
.pages a {
    font-size: 17px;
}

.pages a {
    cursor: pointer;

}

.pages-box {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pages-box div {
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
}

.page {
    padding: 0.4rem;
}

.pages-empty-space {
    padding: 1rem;
}

.page-btn {
    background-color: var(--pink);
    border-radius: 0.3rem;
}



@media (max-width: 566px) {

    #people {
        padding-top: 210px;
    }

    .celebrities {
        width: 90%;
        gap: 15px;
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin-left: 5%;
    }

    .person {
        width: 90%;
        min-width: 0;
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .person-image-box {
        overflow: hidden;
        width: 100%;
        height: fit-content;
        min-width: 250px;
        min-height: 375px;
    }
    
    .person-image {
        width: 100%;
        min-width: 250px;
        min-height: 375px;
    }

    .show-image-box {
        overflow: hidden;
        width: 200px;
    }
    
    .show-image {
        width: 200px;
    }

    .as-known-text {
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 5px;
    }

}



