
#movies {
    background-color: var(--dark);
    margin: 0;
    padding-top: 15vh;
}

.movies {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 60vh;
}

.movie {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; 
    position: relative;
    height: 38rem;
}

.movie-poster-box {
    overflow: hidden; 
    position: relative;
    width: 20rem;
    height: 30rem;
}

.movie:hover {
    box-shadow: 2px -1px 25px -2px rgba(0,0,0,0.86);
    transition: box-shadow 0.4s ease-in-out 0s;
}

.movie-poster {
    width: 20rem;
    height: 30rem;
    align-self: center;
    transition: transform 0.4s ease-in-out;
    transform-origin: center; 
}

.movie-poster:hover {
    transform: scale(1.2); 
}

.movie-title{
    font-size: 1.5rem;
    padding: 1rem 1rem 0.5rem;
}

.ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: 23ch;
}

.movie-informations {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.vote_average {
    padding-left: 0.5rem;
}

.movie-votes {
    padding-left: 1.2rem;
}

.movie-menu {
    border-bottom: 0.2rem solid var(--yellow);
    padding-bottom: 0.6rem;
}

.movie-kind {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.movie-kind-item a {
    display: inline-block;
    font-size: 14px;
    height: 36px;
    padding: 8px 10px 3px 10px;
}

.btnify {
    border-radius: 1rem;
    border: 1px solid var(--dark-pink);
}

.movie-kind-item a:hover {
    cursor: pointer;
    color: var(--pink);
}

.pages {
    margin: 1rem 0 4rem 0;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--yellow);
    border-top: 1px solid var(--yellow);
    padding: 12px;
}

.pages p,
.pages a {
    font-size: 17px;
}

.pages a {
    cursor: pointer;

}

.pages-box {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pages-box div {
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
}

.page {
    padding: 0.4rem;
}

.pages-empty-space {
    padding: 1rem;
}

.page-btn {
    background-color: var(--pink);
    border-radius: 0.3rem;
}




@media (max-width: 566px) {
       
    #movies {
        padding-top: 5vh;
    } 

    .movie-kind {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 2rem;
    }

}

@media (max-width: 992px) {    

    #movies {
        padding-top: 23vh;
    }

    .movie {
        height: 60rem;
    }

    .movie-poster-box {
        width: 35rem;
        height: 52.5rem;
    }

    .movie-poster {
        width: 35rem;
        height: 52.5rem;
        align-self: center;
    }

    .movie-title{
        font-size: 2.7rem;
        padding: 1rem 1rem 0.5rem;
    }

}