

<div *ngIf="!isLoading">
    <navbar></navbar>

    <!-- movie details -->
    <section id="movies" class="movies" *ngIf="current_movies">
        <ng-template [ngTemplateOutlet]="movies" [ngTemplateOutletContext]="current_movies"></ng-template>
    </section>
    
    
    <footerr></footerr>
</div>

<!-- loading -->
<section id="loading" class="loading" *ngIf="isLoading">
    <img src="/assets/img/bg-404.png">
</section>


<!-- movie details -->
<ng-template #movies>
    <div class="container">
        <div class="movie-menu">
            <ul class="movie-kind">
                <li class="movie-kind-item">
                    <a 
                    [class.btnify]="current_title=='nowplaying'" 
                    [class.btn-primary]="current_title=='nowplaying'" 
                    class="font-white" 
                    [routerLink]="'/movies/nowplaying/1'">
                        <i class="fa-solid fa-glasses font-yellow"></i> 
                        Vizyonda
                    </a>
                </li>
                <li class="movie-kind-item">
                    <a 
                    [class.btnify]="current_title=='popular'" 
                    [class.btn-primary]="current_title=='popular'" 
                    class="font-white" 
                    [routerLink]="'/movies/popular/1'">
                        <i class="fa-solid fa-fire font-yellow"></i>
                        Populer
                    </a>
                </li>
                <li class="movie-kind-item">
                    <a 
                    [class.btnify]="current_title=='toprated'" 
                    [class.btn-primary]="current_title=='toprated'" 
                    class="font-white" 
                    [routerLink]="'/movies/toprated/1'">
                    <i class="fa-solid fa-chess-king font-yellow"></i>
                        En Yüksek Oy Alanlar
                    </a>
                </li>
                <li class="movie-kind-item">
                    <a 
                    [class.btnify]="current_title=='upcoming'" 
                    [class.btn-primary]="current_title=='upcoming'" 
                    class="font-white" 
                    [routerLink]="'/movies/upcoming/1'">
                        <i class="fa-solid fa-terminal font-yellow"></i>
                        Yakında
                    </a>
                </li>
                <li class="movie-kind-item">
                    <a 
                    [class.btnify]="current_title=='discover'" 
                    [class.btn-primary]="current_title=='discover'" 
                    class="font-white" 
                    [routerLink]="'/movies/discover'">
                        <i class="fa-brands fa-cc-discover font-yellow"></i>
                        Keşfet
                    </a>
                </li>
            </ul>
        </div>
        <div class="movies">
            <div *ngFor="let movie of current_movies.results" class="movie">
                <a [routerLink]="'/movies/' + movie.id">
                    <div class="movie-poster-box">
                        <img src="{{ image_url }}{{ movie.poster_path }}" alt="{{ movie.title }}" class="movie-poster">
                    </div>
                    <p class="movie-title font-white ellipsis2">{{ movie.title }}</p>
                    <div class="movie-informations font-yellow">
                        <i class="fa-solid fa-star"></i> 
                        <p class="vote_average font-yellow">
                            {{ getFloor(movie.vote_average) }}/10
                        </p>
                        <p class="movie-votes font-white">
                            {{ movie.vote_count }} vote 
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="pages">
            <div class="pages-box">
                <a href="/movies/{{ current_title }}/{{ current_movies_page - 1 }}" class="page font-white" [class.disabled]="current_movies_page-1<=0">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <div *ngFor="let page of getPagesArray()">
                    <a [class.page-btn]="page == current_movies.page" href="/movies/{{ current_title }}/{{ page }}" class="page font-white">
                        {{ page }}
                    </a>
                </div>
                <a href="/movies/{{ current_title }}/{{ current_movies_page + 1 }}" class="page font-white" [class.disabled]="current_movies_page+1>=current_movies.total_pages || current_movies_page+1>=500">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</ng-template>