

<div *ngIf="!isLoading1 && !isLoading2 && !isLoading3">
    <navbar></navbar>

    <section id="welcome">
        <ng-template [ngTemplateOutlet]="welcome"></ng-template>
    </section>

    <!-- trending movies -->
    <section id="trendings" class="trendings" *ngIf="trending_movies">
        <ng-template [ngTemplateOutlet]="trendings" [ngTemplateOutletContext]="trending_movies"></ng-template>
    </section>
    
    <!-- popular movies -->
    <section id="populars" class="populars" *ngIf="popular_movies">
        <ng-template [ngTemplateOutlet]="popular" [ngTemplateOutletContext]="popular_movies"></ng-template>
    </section>
    
    <!-- upcoming movies -->
    <section id="upcoming" class="upcoming" *ngIf="trending_tvshows">
        <ng-template [ngTemplateOutlet]="upcoming" [ngTemplateOutletContext]="trending_tvshows"></ng-template>
    </section>

    <!-- popular tv shows -->
    <section id="populars2" class="populars" *ngIf="popular_tvshows">
        <ng-template [ngTemplateOutlet]="populars2" [ngTemplateOutletContext]="popular_tvshows"></ng-template>
    </section>

    
    
    <footerr></footerr>
</div>

<!-- loading -->
<section id="loading" class="loading" *ngIf="isLoading1 || isLoading2 || isLoading3 || isLoading4">
    <img src="/assets/img/bg-404.png">
</section>


<ng-template #welcome>
    <div class="welcome-area">
        <div class="welcome">
            <h1 class="font-pink">Hoş geldiniz</h1>
            <p class="font-dark">Bu sitede filmler, diziler ve oyuncular hakkında bilgiler bulabilirsiniz</p>
        </div>
    </div>
</ng-template>


<!-- trending movies -->
<ng-template #trendings>
    <a (click)="trending_movies_previous()"  class="change-card-poster-first">
        <i class="fa-solid fa-angle-left change-card-poster"></i>
    </a>
    <a (click)="trending_movies_previous()" class="change-card-poster-second">
        <i class="fa-solid fa-chevron-right change-card-poster"></i>
    </a>
    <div class="container">
        <div class="title-section">
            <i class="fa-solid fa-fire font-yellow"></i>
            <h1 class="title font-white">
                Trend Filmler
            </h1>
        </div>
    </div>
    <div *ngFor="let trending_movie of trending_movies.results; let i = index"
    class="card left-card"
    [class.lost]="trending_movies_current_index <= (i - 1) || trending_movies_current_index >= (i + 3)"
    [class.to_right]="trending_movies_current_index >= (i + 2)"
    [class.to_middle]="trending_movies_current_index === (i + 1)"
    [class.active]="trending_movies_current_index === (i + 1)"
    [class.to_left]="trending_movies_current_index <= i">
        <a href="/movies/{{ trending_movie.id }}">
            <div class="news-poster">
                <img src="{{ image_url }}{{ trending_movie.poster_path }}" alt="{{ trending_movie.title }}" class="news-poster-img">
            </div>
            <div class="news-informations">
                <h2 class="poster-title font-white">{{ trending_movie.title }}</h2>
                <div class="poster-votes">
                    <div class="poster-stars">
                        <i class="fa-solid fa-star font-yellow"></i> 
                        <p class="vote-average font-yellow">
                            {{ getFloor(trending_movie.vote_average) }}/10
                        </p>
                    </div>
                    <span class="poster-vote font-white">
                        <i class="fa-solid fa-check-to-slot font-yellow"></i>
                        <p class="vote-average">
                            {{ trending_movie.vote_count }} oy
                        </p>
                    </span>
                </div>
                <div class="poster-description">
                    <p class="font-white ellipsis">{{ trending_movie.overview }}</p>
                </div>
                <span class="poster-cast-title font-white">
                    <i class="fa-solid fa-genderless font-yellow"></i>
                    <p class="vote-average">
                        {{ trending_movie.genre_ids }}
                    </p>
                </span>
                <span class="poster-cast-title font-white">
                    <i class="fa-solid fa-calendar-days font-yellow"></i>
                    <p class="vote-average">
                        {{ trending_movie.release_date }}
                    </p>
                </span>
            </div>
        </a>
    </div>
</ng-template>


<!-- popular movies -->
<ng-template #popular>
    <div class="container">
        <div class="title-section">
            <i class="fa-solid fa-fire font-yellow"></i>
            <h1 class="title font-white">
                Popüler filmler
            </h1>
        </div>
        <div class="movies">
            <div *ngFor="let popular_movie of popular_movies.results" class="movie">
                <a href="/movies/{{ popular_movie.id }}">
                    <div class="movie-poster-box">
                        <img src="{{ image_url }}{{ popular_movie.poster_path }}" alt="{{ popular_movie.title }}" class="movie-poster">
                    </div>
                    <p class="movie-title font-white ellipsis2">{{ popular_movie.title }}</p>
                    <div class="movie-informations">
                        <i class="fa-solid fa-star font-yellow"></i> 
                        <p class="vote_average font-yellow">
                            {{ getFloor(popular_movie.vote_average) }}/10
                        </p>
                        <p class="movie-votes font-white">
                            {{ popular_movie.vote_count }} vote 
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ng-template>

<!-- upcoming movies -->
<ng-template #upcoming>
    <a (click)="trending_tvshows_previous()"  class="change-card-poster-first">
        <i class="fa-solid fa-angle-left change-card-poster"></i>
    </a>
    <a (click)="trending_tvshows_next()" class="change-card-poster-second">
        <i class="fa-solid fa-chevron-right change-card-poster"></i>
    </a>
    <div class="container">
        <div class="title-section">
            <i class="fa-solid fa-fire font-yellow"></i>
            <h1 class="title font-white">
                Trend Diziler
            </h1>
        </div>
    </div>
    <div *ngFor="let trending_tvshow of trending_tvshows.results; let i = index"
    class="card left-card"
    [class.lost]="trending_tvshows_current_index <= (i - 1) || trending_tvshows_current_index >= (i + 3)"
    [class.to_right]="trending_tvshows_current_index >= (i + 2)"
    [class.to_middle]="trending_tvshows_current_index === (i + 1)"
    [class.active]="trending_tvshows_current_index === (i + 1)"
    [class.to_left]="trending_tvshows_current_index <= i">
        <a href="/tv-shows/{{ trending_tvshow.id }}">
            <div class="news-poster">
                <img src="{{ image_url }}{{ trending_tvshow.poster_path }}" alt="{{ trending_tvshow.name }}" class="news-poster-img">
            </div>
            <div class="news-informations">
                <h2 class="poster-title font-white">{{ trending_tvshow.name }}</h2>
                <div class="poster-votes">
                    <div class="poster-stars">
                        <i class="fa-solid fa-star font-yellow"></i> 
                        <p class="vote-average font-yellow">
                            {{ getFloor(trending_tvshow.vote_average) }}/10
                        </p>
                    </div>
                    <span class="poster-vote font-white">
                        <i class="fa-solid fa-check-to-slot font-yellow"></i>
                        <p class="vote-average">
                            {{ trending_tvshow.vote_count }} oy
                        </p>
                    </span>
                </div>
                <div class="poster-description">
                    <p class="font-white ellipsis">{{ trending_tvshow.overview }}</p>
                </div>
                <span class="poster-cast-title font-white">
                    <i class="fa-solid fa-genderless font-yellow"></i>
                    <p class="vote-average">
                        {{ trending_tvshow.genre_ids }}
                    </p>
                </span>
                <span class="poster-cast-title font-white">
                    <i class="fa-solid fa-calendar-days font-yellow"></i>
                    <p class="vote-average">
                        {{ trending_tvshow.first_air_date }}
                    </p>
                </span>
            </div>
        </a>
    </div>

</ng-template>

<!-- popular tvshows -->
<ng-template #populars2>
    <div class="container">
        <div class="title-section">
            <i class="fa-solid fa-fire font-yellow"></i>
            <h1 class="title font-white">
                Popüler Diziler
            </h1>
        </div>
        <div class="movies">
            <div *ngFor="let popular_tvshow of popular_tvshows.results" class="movie">
                <a href="/tv-shows/{{ popular_tvshow.id }}">
                    <div class="movie-poster-box">
                        <img src="{{ image_url }}{{ popular_tvshow.poster_path }}" alt="{{ popular_tvshow.name }}" class="movie-poster">
                    </div>
                    <p class="movie-title font-white ellipsis2">{{ popular_tvshow.name }}</p>
                    <div class="movie-informations">
                        <i class="fa-solid fa-star font-yellow"></i> 
                        <p class="vote_average font-yellow">
                            {{ getFloor(popular_tvshow.vote_average) }}/10
                        </p>
                        <p class="movie-votes font-white">
                            {{ popular_tvshow.vote_count }} vote 
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ng-template>