#footer {
    display: block;
    padding: 3rem 0;
    width: 100%;
    height: fit-content;
    background: url("/assets/img/footer-background.jpg");
    background-position: center;
    background-size: cover;
    border-top: 3px solid var(--dark);
}

.footer-logo img {
    width: 10rem;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer .contact,
.footer .legal,
.footer .Account,
.footer .Newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
    padding: 3rem 0;
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer li {
    margin: 1rem 0 0 0;
}

.conctact-information p {
    font-size: 1rem;
}

.footer-title {
    font-size: 1.3rem;
}

.footer-link {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.footer-input {
    height: 2.2rem;
    width: 12rem;
    border: 1px solid var(--white);
    border-radius: 0.4rem;
    font-size: 1.2rem;
}

.contact-icon {
    font-size: 1.5rem;
    padding-right: 1rem;
}


.ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: 23ch;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 350px) and (max-width: 992px) {    


    
}