<footer id="footer">
    <div class="container">
        <div class="footer">
            <div class="contact">
                <div class="footer-logo">
                    <a href="/">
                        <img src="/assets/img/logo.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fa-brands fa-facebook contact-icon" style="color: #4267B2;"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-x-twitter contact-icon" style="color: #1DA1F2;"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram contact-icon" style="color: #C13584;"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-pinterest contact-icon" style="color: #E60023;"></i>
                    </a>
                </div>
                <div class="conctact-information">
                    <p class="font-white">Sarıyer/istanbul</p>
                    <p class="font-white">Call us: (+90) 212 111 2345</p>
                </div>

            </div>
            <div class="legal">
                <h2 class="footer-title font-white">
                    Legal
                </h2>
                <ul>
                    <li>
                        <a href="#" class="footer-link font-white">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link font-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link font-white">Security</a>
                    </li>
                </ul>
            </div>
            <div class="Account">
                <h2 class="footer-title font-white">
                    Account
                </h2>
                <ul>
                    <li>
                        <a href="#" class="footer-link font-white">Hesabım</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link font-white">İzleme Listem</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link font-white">User Guide</a>
                    </li>
                </ul>
            </div>
            <div class="Newsletter">
                <h2 class="footer-title font-white">
                    Newsletter
                </h2>
                <ul>
                    <li>
                        <p class="footer-link font-white ellipsis2">Subscribe to our newsletter system now to get latest news from us.</p>
                    </li>
                    <li>
                        <form>
                            <input type="email" class="footer-input" placeholder="Email gir:">
                            <a [routerLink]="'/auth/register'" class="btn btn-primary">Üye Ol</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>